/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url(../fonts/MyriadProRegular/MyriadProRegular.eot);
    src: url(../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix)format("embedded-opentype"),
    url(../fonts/MyriadProRegular/MyriadProRegular.woff) format("woff"),
    url(../fonts/MyriadProRegular/MyriadProRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url(../fonts/MyriadProBold/MyriadProBold.eot);
    src: url(../fonts/MyriadProBold/MyriadProBold.eot?#iefix)format("embedded-opentype"),
    url(../fonts/MyriadProBold/MyriadProBold.woff) format("woff"),
    url(../fonts/MyriadProBold/MyriadProBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url(../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot);
    src: url(../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix)format("embedded-opentype"),
    url(../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff) format("woff"),
    url(../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"MyriadPro-Light";
    src: url(../fonts/MyriadPro-Light.otf);
    font-style: normal;
    font-weight: normal;
}
@base-color:rgb(61,108,176);

.circle(@width-height;@color: rgb(2,113,187)){
	width:@width-height;
	height:@width-height;
	border-radius:@width-height / 2;
	border:1px solid @color;
}
 
p{
	font-family:"MyriadProRegular";
	overflow: hidden;
	float:left;
}
.container-fluid{
	width:1000px;
	margin:0 auto;
	min-height:calc(100vh - 70px);
}

 
 .col-sm-12{
	float:left;
	width:50%;
	overflow:hidden;
	padding-top:0px;
	
	h2{margin-top:29px;}
 }

 

.icon {
	position:relative;
	margin: 0 auto;
	.circle(180px,@base-color);
	div{
	
		position:absolute;
		.circle(160px,@base-color);
		background-color:@base-color;
		top:9px;
		left:9px;
	
	}
}

 .info{
	h1,h4 {
	
		text-transform: uppercase;
		text-align:center;
		line-height:28px;
		font-family:"MyriadProBold";
		width:100%;
		margin:2px;
		
	}
	
	h1:first-child{
	
	font-family:"MyriadPro-Light";
	
	}
} 

.info-label{
float:left;
width:50%;
}

h2 {

	overflow:auto;
	text-overflow:ellipsis;
	text-transform: uppercase;
 	color: @base-color;
	font-family:"MyriadProBold";
	font-size:33px;
	margin-bottom:0px;
	margin-top:8px;
	display:inline-block;
	max-width:300px;
	white-space:nowrap;
	vertical-align:middle;
	float:left;
	font-weight:bold;
}


h2:before{
	content: "";
    display: inline-block;
    width: 62px;
    height: 62px;
    float: left;
    margin: 0 16px 0 0;
}
.profile,.contact,.skills,.education,.experience,.soft{
	overflow:hidden;
	background-repeat:no-repeat;
	width: 100%;
	display:inline-block;
	white-space:nowrap;
	&:after {
		content:"";
		display: inline-block;
		height: 3px;
		width:100%;
		vertical-align: middle;
		margin-left: 3px;
		background:@base-color;
		margin-top:50px;
	}
} 
.content-image(@url){
	background: url("../images/@{url}");
	.circle(62px);
}

.profile h2:before{
	 .content-image("profile-label.png");
}
.contact h2:before{
	 .content-image("phone-label.png")
}
.skills h2:before{
	.content-image("skills-label.png")
}
.education h2:before{
	.content-image("education-label.png")
}

.experience h2:before{
	.content-image("experience-label.png")
}
.soft h2:before{
	.content-image("software-label.png")
}

p span{
	font-family:"MyriadProBold";
}

ul {
    display: inline-block;
	overflow:hidden;
	margin: 20px 0px 24px; 
	width:100%;
	float:left;
	
	h4{
	
		text-transform: uppercase;
		font-size:22px;
		font-family:"MyriadPro-Light";
		margin-left:20px;
	
	}
}

li{
	float:left;
	font-size:20px;
	font-family:"MyriadProRegular";
	list-style-type: none;
	margin:0px 0px 14px 1.5px;
	size:20px;
	
	span{
		text-transform: uppercase;
		font-weight: bold;
	}

	p{
	font-size:12px;
	margin:7px 2px 2px 20px;
	width:400px;
	}
}

  .container-list ul li:before{
	content:"";
	display:inline-block;
	border:none;
	.circle(20px,black);
	background-color:black;
	margin-left:-20px;
}   
li span{
	text-transform: uppercase;
	font-weight: bold;
}

h3{
	text-transform: uppercase;
	text-align:center;
	font-family:"MyriadProRegular";
	line-height:15px;
	margin:4px;
}
.h5{
	text-transform: uppercase;
	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	font-size:16px;
}
.table{
	display:table;
	overflow:both;
	width:350px;
	border-bottom:none;
}
.cell{
	display:table-cell;
	font-family:"MyriadProRegular";
}
.row{
	width:auto;
	display:table-row;
	height:43.5px;
}

.row .cell:first-child{
	width:101px;
}

.progress{
	width:180px;
	height:16px;
	background-color:#DCDCDC;
	margin:20px;
} 

.proress-value(@value){
	background-color:@base-color;
	width:@value;
	height:20px;
}

.progress-80{
	.proress-value(80%);
}

.progress-70{
	.proress-value(70%);
}
.progress-60{
	.proress-value(60%);
}
.progress-50{
	.proress-value(50%);
}

.blue,.black{
	overflow:hidden;
	text-overflow:ellipsis;
	color:rgb(61,108,176);
	text-transform: uppercase;
	font-size:22px;
	font-family:"MyriadProBold";
	margin-left:20px;
	widows:100%;
	
	&:after{
		content:"//Feb 2011-Jun 2014";
	font-family:"MyriadPro-Light";
	color:black;
	margin-left:15px;
	}
} 
.black{
	color:black;
}

.circle-bar{

	width:300px;
	height:20px;
	margin:0 auto;
	ul{
		float:left;
	}	
	
	li {
	  width: 15px;
	  height: 15px;
	  text-align: center;
	  line-height: 20px;
	  border-radius: 10px;
	  background: dodgerblue;
	  margin: 0 1.5px;
	  display: inline-block;
	  color: white;
	  position: relative;
	  }
	  
	  &:first-child::before {
		display: none;
	}
}

.active {
  background: dodgerblue;
}

.active ~li {
  background: lightblue;
}

.active ~li::before {
  background: lightblue;
}


.link-lookalike {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
.footer{
	clear:both;
	margin:0 auto;
	left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
	text-align:center;
}
footer a{
	display:inline-block;
	background:url(../images/footer-logo.png);
	background-repeat:no-repeat;
	width: 500px;
    height: 60px;
} 