body{
/* background:url(^0FFEAE0B33DB4BCA9009F6FABE019C78E623DF4993D475BD7B^pimgpsh_fullsize_distr.jpg); */
background-repeat:no-repeat;
width:100%;
}
/* font-family: "MyriadProRegular"; */
 @font-face {
    font-family: "MyriadProRegular";
    src: url(MyriadProRegular/MyriadProRegular.eot);
    src: url(MyriadProRegular/MyriadProRegular.eot?#iefix)format("embedded-opentype"),
    url(MyriadProRegular/MyriadProRegular.woff) format("woff"),
    url(MyriadProRegular/MyriadProRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url(MyriadProBold/MyriadProBold.eot);
    src: url(MyriadProBold/MyriadProBold.eot?#iefix)format("embedded-opentype"),
    url(MyriadProBold/MyriadProBold.woff) format("woff"),
    url(MyriadProBold/MyriadProBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot);
    src: url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix)format("embedded-opentype"),
    url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff) format("woff"),
    url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"MyriadPro-Light";
    src: url(MyriadPro-Light.otf);
    font-style: normal;
    font-weight: normal;
}


 .global{
  width:1000px;
  /* height:100%; */
  margin:0 auto;

 } 
 p{
 margin:0px;
 
 }
/* .right,.left{
 float:left;
 padding:40px;
}
.left{
	width:332px;
}
.right{
padding-left:20px;
padding-top:52px;
padding-left:24px;
width:500px;
} */
.label{
margin:0px 40px 0px 40px;
background-image:url(images/Lable1.png);
background-repeat:no-repeat;
width:268px;
height:220px;
/* float:left; */
}
.name,.surname,.graphic{
text-transform: uppercase;
text-align:center;
line-height:1px;
color:black;
margin:28px;
}
.name{
font-family:"MyriadPro-Light";
font-size: 45px;
margin:0px;
/* margin-bottom: 36px; */
margin-top: 36px;
margin-left: 20px;
letter-spacing: 1.5px;

}
.surname{
font-family:"MyriadProBold";
font-size: 49px;
margin-left: 30px;
margin-top: 39px;
}
.graphic{
font-family:"MyriadProBold";
font-size: 20px;
margin-top: 39px;
margin-top: 42px;
margin-left: 46px;
}
.profile-div{
margin-top: -185px;
margin-left: 1px;
float:left;
width: 338px;
}
h2 {
	/* float:left; */
	text-transform: uppercase;
 	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	font-size:33px;
	margin-left:8px;
	/* width:140px; */
	margin-bottom:0px;
	margin-top:8px;
	
}

.right div h2{
	margin-left:15px;
}

h2:after {
    content:"";
    display: inline-block;
    height: 19px;
    vertical-align: bottom;
    width: 85%;
    margin-right: -100%;
    margin-left: 3px;
    border-top: 4px solid rgb(61,108,176);
}

h2:before{
	content: "";
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 6px 0 0;
}
.profile,.contact,.skills,.education,.experience,.soft{
	background-repeat:no-repeat;
	width: 208px;
} 
.contact{
width:194px;
}
.skills{
	width: 248px;
}
.education,.experience,.soft{
	background-repeat:no-repeat;
	width: 368px;
} 
/* .profile,.contact,.skills h2:after{
	
} */
.profile h2:before{
	background: url(images/profile.png);
}
.contact h2:before{
	 background: url(images/phone.png);
}
.skills h2:before{
	background: url(images/skills.png);
}
.education h2:before{
	background: url(images/education.png);
}
.experience h2:before{
	background: url(images/experience.png);
}
.soft h2:before{
	background: url(images/software.png);
}
.profile-div p{
	font-family:"MyriadProRegular";
	overflow: hidden;
	float:left;
	margin-top: 8px;
    line-height: 15px;
    width: 337px;
	font-size:13px;
}

p span{
	font-family:"MyriadProBold";
}

ul {
    /* display: block; */
	/* overflow:hidden; */
	float:left;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 35px;
}

li{
	font-size:20px;
	font-family:"MyriadProRegular";
	list-style-type: none;
	/* font-weight:100; */
	margin-bottom:14px;
	margin-left:1.5px;
	size:20px;
	
}
.education-div ul li:before,.experience-div ul li:before{
	content:"";
	display:inline-block;
	border:none;
	border-radius:10px;
	width:20px;
	height:20px;
	background-color:black;
	margin-left:-20px;
}
li span{
	text-transform: uppercase;
	font-weight: bold;
}

li p{
	font-size:12px;
	margin:7px 2px 2px 20px;
}
h3{
	text-transform: uppercase;
	text-align:center;
	font-family:"MyriadProRegular";
}
.h5{
	text-transform: uppercase;
	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	font-size:16px;
}
.table{
	display:table;
	overflow:both;
	width:350px;
	border-bottom:none;
	line-height:1px;
	padding-top:34px;
}
.cell{
	display:table-cell;
	padding:1px;
	font-family:"MyriadProRegular";
}
.row{
	display:table-row;
	height:43.5px;
}

.row .cell:first-child{
	width:101px;
}

progress{
	width:222px;
	height:16px;
} 

progress[value]{
	color:rgb(61,108,176);
}
progress[max]{
	color:rgb(41,104,159);
}

/* span{
	text-transform: uppercase;
	font-family:"MyriadPro-Light";
	font-size:26px;
	/* margin:10px;
	line-height:25px;
} 
span:before{
	content:"master degree";
	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	margin-right:10px;
} */

/* span:after{
	content:"university name";
	margin:10px;
} */

.blue,.black{
	color:rgb(61,108,176);
	text-transform: uppercase;
	font-size:26px;
	font-family:"MyriadProBold";
	margin-left:20px;
} 
.black{
	color:black;
}
.blue:after,.black:after{
	content:"//Feb 2011-Jun 2014";
	font-family:"MyriadPro-Light";
	color:black;
	margin-left:15px;
}
ul h4{
	text-transform: uppercase;
	font-size:26px;
	font-family:"MyriadPro-Light";
	margin-left:15px;
	line-height:1px;
	margin:20px;
}
.contact-div{
	margin-top:-400px;
	float:left;
	width: 338px;
}

.contact-div h2{
	margin-top:29px;
}
.skills-div{
 float:left;
 margin-top:-66px;
 /* width: 338px; */
}
.circle-bar{
float:left;
}
.skills-div .table{
padding-top:0px;
}

.circle-bar ul{
padding-left:35px;
}
.circle-bar li {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  background: dodgerblue;
  margin: 0 1.5px;
  display: inline-block;
  color: white;
  position: relative;
  }

.circle-bar li:first-child::before {
  display: none;
}

.active {
  background: dodgerblue;
}

.active ~li {
  background: lightblue;
}

.active ~li::before {
  background: lightblue;
}

.footer{
	clear:both;
	margin:0 auto;
	left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
	top:1450px;
	text-align:center;
	top:calc(5vh);
}
a{
	display:inline-block;
	background:url(images/logo.png);
	background-repeat:no-repeat;
	width: 200px;
    height: 200px;
}
.education-div,.experience-div,.software-div{
	margin-left:30px;
	float:left;
	width:500px;
}
.info{
	/* float:left; */
	margin: 0px 40px 0px 40px;
	width:268px;
}
.info-label{
float:left;
}