body{
background:url(^0FFEAE0B33DB4BCA9009F6FABE019C78E623DF4993D475BD7B^pimgpsh_fullsize_distr.jpg);
background-repeat:no-repeat;
width:100%;
}
/* font-family: "MyriadProRegular"; */
 @font-face {
    font-family: "MyriadProRegular";
    src: url(MyriadProRegular/MyriadProRegular.eot);
    src: url(MyriadProRegular/MyriadProRegular.eot?#iefix)format("embedded-opentype"),
    url(MyriadProRegular/MyriadProRegular.woff) format("woff"),
    url(MyriadProRegular/MyriadProRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url(MyriadProBold/MyriadProBold.eot);
    src: url(MyriadProBold/MyriadProBold.eot?#iefix)format("embedded-opentype"),
    url(MyriadProBold/MyriadProBold.woff) format("woff"),
    url(MyriadProBold/MyriadProBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot);
    src: url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix)format("embedded-opentype"),
    url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff) format("woff"),
    url(MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"MyriadPro-Light";
    src: url(MyriadPro-Light.otf);
    font-style: normal;
    font-weight: normal;
}
 .global{
  width:1000px;
  height:100%;
 margin:0 auto;

 
 } 
 p{
 margin:0px;
 
 }
.right,.left{
 float:left;
 padding:40px;
}
.left{
	width:332px;
}
.right{
padding-left:20px;
padding-top:52px;
padding-left:24px;
width:500px;
}
.label{
margin:0px 40px 0px 40px;
background-image:url(images/Lable1.png);
background-repeat:no-repeat;
width:300px;
height:220px;

}
.l1,.l2,.l3{
text-transform: uppercase;
text-align:center;
line-height:1px;
color:black;
margin:28px;
}
.l1{
font-family:"MyriadPro-Light";
font-size: 45px;
margin:0px;
/* margin-bottom: 36px; */
margin-top: 36px;
margin-left: 20px;
letter-spacing: 1.5px;

}
.l2{
font-family:"MyriadProBold";
font-size: 49px;
margin-left: 45px;
margin-top: 39px;
}
.l3{
font-family:"MyriadProBold";
font-size: 20px;
margin-top: 39px;
margin-top: 42px;
margin-left: 46px;
}
.pd{
margin-top: 45px;
margin-left: 1px;
float:left;
}
h2 {
	float:left;
	text-transform: uppercase;
 	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	font-size:33px;
	margin-left:8px;
	/* width:140px; */
	margin-bottom:0px;
	margin-top:8px;
}

.right div h2{
	margin-left:15px;
}

h2:after {
    content:"";
    display: inline-block;
    height: 19px;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 3px;
    border-top: 4px solid rgb(61,108,176);
}
.prof,.cont,.skill,.educ,.exper,.soft{
	float:left;
	background-repeat:no-repeat;
	width:60px;
	height:60px;
}

.prof{
	background: url(images/profile.png);
}
.cont{
	 background: url(images/phone.png);
	 margin-top: 20px;
}
.skill{
	background: url(images/skills.png);
}
.educ{
	background: url(images/education.png);
}
.exper{
	background: url(images/experience.png);
}
.soft{
	background: url(images/software.png);
}
.pd p{
	font-family:"MyriadProRegular";
	overflow: hidden;
	float:left;
	margin-top: 8px;
    line-height: 15px;
    width: 337px;
}
}
p span{
	font-family:"MyriadProBold";
}

ul {
    /* display: block; */
	overflow:hidden;
	float:left;
    list-style-type: disc;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li{
	font-size:20px;
	font-family:"MyriadProRegular";
	/* font-weight:100; */
	margin-bottom:14px;
	margin-left:1.5px;
}

li span{
	text-transform: uppercase;
	font-weight: bold;
}

.blue{
	color:rgb(61,108,176);
}

li p{
	font-size:12px;
	margin:7px 2px 2px;
}
h3{
	text-transform: uppercase;
	text-align:center;
	font-family:"MyriadProRegular";
}
.h5{
	text-transform: uppercase;
	color:rgb(61,108,176);
	font-family:"MyriadProBold";
	font-size:16px;
}
.table{
	display:table;
	width:350px;
	border-bottom:none;
	line-height:1px;
	padding-top:34px;
}
.cell{
	display:table-cell;
	padding:1px;
	font-family:"MyriadProRegular";
}
.row{
	display:table-row;
	height:43.5px;
}

.row .cell:first-child{
	width:101px;
}

.pd p{
	font-size:13px;
}

progress{
	width:222px;
	height:16px;
} 

progress[value]{
	color:rgb(61,108,176);
}
progress[max]{
	color:rgb(41,104,159);
}

.cell span{
	text-transform: uppercase;
	color:rgb(61,108,176);
	font-family:"CENTURY GOTHIC";
	font-weight: bold;
	margin:10px;
	line-height:25px;
}
.cd{
	margin-top:80px;
}

.cd h2{
	margin-top:29px;
}
.sd{
 float:left;
 margin-top:6px;
}
.circle-bar{
float:left;
}
.sd .table{
padding-top:0px;
}

.circle-bar ul{
padding-left:35px;
}
.circle-bar li {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  background: dodgerblue;
  margin: 0 1.5px;
  display: inline-block;
  color: white;
  position: relative;
  }

.circle-bar li:first-child::before {
  display: none;
}

.active {
  background: dodgerblue;
}

.active ~li {
  background: lightblue;
}

.active ~li::before {
  background: lightblue;
}

.footer{
	background:url(images/logo.png);
	
	clear:both;
	margin:0 auto;
	left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
	top:1450px;
	background-repeat:no-repeat;
	text-align:center;
}