/* .table{
	display:table;
	width:600px;
	border: 1px  solid #DCDCDC;
	border-bottom:none
}
.cell,.cell1{
	display:table-cell;
	border-bottom:1px solid #DCDCDC; 
	padding:1px
}
.cell1{
	font-weight:bold;
}
.row1{
	display:table-row;
	background-color:#F5F5DC;
	
}
.row2{
	display:table-row;
	background-color:#FFD700;
}

.shadow{
	width:300px;
	height:300px;
	border: 3px  solid #DCDCDC;
	box-shadow:inset 0 0 2px 2px grey, 0 0 2px 4px black, 0 0 6px  6px green; 
	
}
@media print, screen(width:600px)and(height:400px){
	font-family: "CENTURY GOTHIC";
} */

table{
	width:700px;
	border-collapse: collapse;
	border-radius:10px;
	box-shadow:  0px 0px 30px rgba(0,0,0,0.5);
	border: 1px  solid black;  
}
th {
	border-right:1px solid gray;
    background-color: black;
    color: white;
	text-shadow:2px 2px 2px black;
	
}
td{
	border-right:1px solid black;
}
th:first-child
{
	border-radius:12px 0px 0px 0px;
}
th:last-child
{
	border-radius:0px 12px 0px 0px;
}

table tr:last-child td:first-child:first-child
{
	border-radius:0px 0px 0px 12px;
}
table tr:last-child td:last-child:last-child
{
	border-radius:0px 0px 12px 0px;
}

tr:hover{
	background:linear-gradient(to left, white, gold);
	background-attachment:fixed;
}
td:first-child:first-letter{
	color: red;
    font-size: 120%;
	font-style:italic;
}
td:first-child:after{
	content:"($)"
}

td:after{
	content:"(mln)";
}

